@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dracula --prefersdark;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.btn-dream {
  @apply  bg-gradient-to-br from-purple-300 via-pink-200 to-yellow-100
  text-gray-700 font-bold py-3 px-6 rounded-lg shadow-lg
  hover:scale-105 transition-all duration-300 cursor-pointer;
}
